## site output
_cache/
_site/

## nix-build result
result

## draft posts
draft/
codes/
TODO.md

## use hpack to generate cabal file
*.cabal

## build artifacts
.ghc.environment.*
dist-newstyle/
cabal.project.local*

## old files
*.old
