## site output
_cache/
_site/

## nix-build result
result

## draft posts
draft/

## use hpack to generate cabal file
*.cabal

## build artifacts
.ghc.environment.x86_64-linux-8.4.4
dist-newstyle/

## old files
*.old
