    <div class="text-muted">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
    </div>
    <div>
        <br />
        $body$
    </div>

  <!-- socials -->
  <!-- <div> -->
  <!--   <table> -->
  <!--     <tr> -->
  <!--       <td class="borderless" > -->
  <!--         <!&#45;&#45; Facebook like button &#45;&#45;> -->
  <!--         <div class="fb&#45;like" -->
  <!--             data&#45;href="https://wizzup.github.io$url$" -->
  <!--             data&#45;layout="button_count" -->
  <!--             data&#45;action="like" -->
  <!--             data&#45;size="small" -->
  <!--             data&#45;show&#45;faces="false" -->
  <!--             data&#45;share="false" /> -->
  <!--       </td> -->
  <!--  -->
  <!--       <td class="borderless" > -->
  <!--       <!&#45;&#45; twitter tweet button &#45;&#45;> -->
  <!--       <a href="https://twitter.com/share" -->
  <!--         class="twitter&#45;share&#45;button" -->
  <!--         data&#45;url="https://wizzup.github.io$url$" -->
  <!--         data&#45;count="horizontal" -->
  <!--         data&#45;via="wizzup">Tweet</a> -->
  <!--       </td> -->
  <!--  -->
  <!--       <td class="borderless" > -->
  <!--       <!&#45;&#45; G+ button &#45;&#45;> -->
  <!--       <g:plusone -->
  <!--         size="medium" -->
  <!--         href="https://wizzup.github.io$url$"/> -->
  <!--       </td> -->
  <!--  -->
  <!--       <td class="borderless" > -->
  <!--       <!&#45;&#45; pocket button &#45;&#45;> -->
  <!--       <a data&#45;pocket&#45;label="pocket" data&#45;pocket&#45;count="horizontal" class="pocket&#45;btn" data&#45;lang="en"></a> -->
  <!--       </td> -->
  <!--     </tr> -->
  <!--   </table> -->
  <!-- </div> -->

  <!-- facebook comments -->
  <!-- <div style="width:100%"> -->
  <!--   <div class="fb&#45;comments" -->
  <!--        data&#45;href="https://wizzup.github.io$url$" -->
  <!--        data&#45;numposts="3" /> -->
  <!-- </div> -->

  <!-- disqus comments -->
  <!-- <div> -->
  <!--   <div id="disqus_thread"></div> -->
  <!--   <script> -->
  <!--  -->
  <!--   /** -->
  <!--   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS. -->
  <!--   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration&#45;variables*/ -->
  <!--  -->
  <!--   var disqus_config = function () { -->
  <!--     this.page.url = "https://wizzup.github.io$url$"; -->
  <!--     this.page.title = "$title$"; -->
  <!--     this.page.identifier = "$path$"; -->
  <!--   }; -->
  <!--  -->
  <!--   (function() { // DON'T EDIT BELOW THIS LINE -->
  <!--   var d = document, s = d.createElement('script'); -->
  <!--   s.src = 'https://wizzup.disqus.com/embed.js'; -->
  <!--   s.setAttribute('data&#45;timestamp', +new Date()); -->
  <!--   (d.head || d.body).appendChild(s); -->
  <!--   })(); -->
  <!--   </script> -->
  <!--   <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
  <!-- </div> -->
